<div class="card__wrapper d-flex align-s justify-se">
    <div class="card__img-box">
        <img [src]="dog.img" alt="Photo of a Shiba Inu">
    </div>
    <div class="card__info-box mx-2 d-flex flex-column gap-1 justify-sb">
        <div class="d-flex gap-1 card__info-text-group gap-1">
            <span><b>Name:</b></span>
            <span>{{dog.name}}</span>
        </div>
        <div class="d-flex gap-1 card__info-text-group">
            <span><b>Age:</b></span>
            <span>{{dog.age}}</span>
        </div>
        <div class="d-flex gap-1 card__info-text-group2">
            <span><b>Zip code:</b></span>
            <span>{{dog.zip_code}}</span>
        </div>
        <div class="d-flex gap-1 card__info-text-group">
            <span><b>Breed:</b></span>
            <span>{{dog.breed}}</span>
        </div>
    </div>
    
    @if(isFavorite | async) {
        <div class="card__like-icon__box cursor-pointer" (click)="deleteFromFavorites()">
            <img src="assets/like.png" alt="unlike icon">
        </div>
    } @else {
        <div class="card__like-icon__box cursor-pointer" (click)="addToFavorites()">
            <img src="assets/unlike.png" alt="unlike icon">
        </div>
    }
</div>