@import '../../../styles/mixins';

.login__layout-wrapper {
    height: 100vh;
    background-image: url("../../../../public/assets/paws-bg.png");
    background-repeat: repeat;
    background-blend-mode: lighten;
    background-size: contain;

    .login__logo-box {
        width: 50%;
        max-width: 200px;
        min-height: 100px;
        margin-bottom: 32px;

        img {
            width: 100%;
            object-fit: contain;
        }
    }

    .login__form-wrapper {
        width: 100%;

        @include from ($tablet) {
            max-width: 300px;
        }

        .login__form-field {
            width: 100%;
        }
    }
}

.footer-wrapper {
    bottom: 0;
    left: 0;
    background-color: var(--primary-color);
    color: var(--color-white);
    font-weight: bold;
    font-size: 0.75rem;
    padding: 6px 24px;

    width: calc(100% - 48px);

    img {
        width: 24px;
        object-fit: contain;
    }
}