@import '../../../styles/mixins';

.login__layout-wrapper {
    height: 100vh;
    background-image: url("../../../../public/assets/paws-bg.jpg");
    background-color: rgb(255 255 255 / 95%);
    background-repeat: repeat;
    background-blend-mode: lighten;
    background-size: contain;

    .login__logo-box {
        width: 50%;
        max-width: 200px;
        min-height: 100px;
        margin-bottom: 32px;

        img {
            width: 100%;
            object-fit: contain;
        }
    }

    .login__form-wrapper {
        width: 100%;

        @include from ($tablet) {
            max-width: 300px;
        }

        .login__form-field {
            width: 100%;
        }
    }
}