//FLEX
.d-flex {
    display: flex;
}

.flex-auto {
    flex: auto;
}

.flex-wrap {
    flex-wrap: wrap;
}

.flex-row {
    flex-direction: row;
}

.flex-column {
    flex-direction: column;
}

.gap-1 {
    gap: 0.5rem;
}

.gap-2 {
    gap: 1rem;
}

.gap-3 {
    gap: 1.5rem;
}

$alignments: "c" "center", "e" "end", "s" "start";
$justifications: "c" "center", "sb" "space-between", "sa" "space-around", "se" "space-evenly", "e" "end", "s" "start";

@each $key, $alignment in $alignments {
    .align-#{$key} {
        align-items: #{$alignment};
    }
}

@each $key, $justification in $justifications {
    .justify-#{$key} {
        justify-content: #{$justification};
    }
}

//GENERAL
.relative {
    position: relative;
}

.absolute {
    position: absolute;
}

.hidden {
    display: none;
}

.centered {
    margin: 0 auto;
}

//SIZING

.w-100 {
    width: 100%;
}

.w-50 {
    width: 50%;
}

.w-25 {
    width: 25%;
}

//TEXT

.text-underline {
    text-decoration: underline;
}

.text-primary {
    color: var(--primary-color);
}

.text-secondary {
    color: var(--secondary-color);
}

.uppercase {
    text-transform: uppercase;
}

.italic {
    font-style: italic;
}

.text-capitalize {
    text-transform: capitalize;
}

.text-start {
    text-align: start;
}

.text-center {
    text-align: center;
}

.text-end {
    text-align: end;
}

.nowrap-text {
    text-wrap: nowrap;
}

.text-ellipsis {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

//ACTIONS
.cursor-pointer {
    cursor: pointer;
}

.as-action-btn {
    margin-top: .5rem;
    color: var(--secondary-color);
    cursor: pointer;

    &:hover {
        filter: brightness(0.8);
        text-decoration: underline;
    }
}

.gray-bg {
    background-color: var(--ligth-bg-color);
}

.white-bg {
    background-color: var(--color-white);
}

//SPACING

$sizes: "1" 0.5rem, "2" 1rem, "3" 1.5rem;

@each $level, $size in $sizes {

    //PADDING
    .pl-#{$level} {
        padding-left: $size;
    }

    .pr-#{$level} {
        padding-right: $size;
    }

    .px-#{$level} {
        padding-left: $size;
        padding-right: $size;
    }

    .pt-#{$level} {
        padding-top: $size;
    }

    .pb-#{$level} {
        padding-bottom: $size;
    }

    .py-#{$level} {
        padding-top: $size;
        padding-bottom: $size;
    }

    //MARGIN
    .ml-#{$level} {
        margin-left: $size;
    }

    .mr-#{$level} {
        margin-right: $size;
    }

    .mx-#{$level} {
        margin-left: $size;
        margin-right: $size;
    }

    .mt-#{$level} {
        margin-top: $size;
    }

    .mb-#{$level} {
        margin-bottom: $size;
    }

    .my-#{$level} {
        margin-top: $size;
        margin-bottom: $size;
    }
}