:root {
    //colors
    --primary-color: #551653;
    --second-accent-color: rgb(237, 174, 235);
    --accent-color: #7b1f78;
    --secondary-color: #FF9900;
    --color-black: #090325;
    --color-white: #F9F8F9;
    --color-soft-grey: #989898;
    --color-grey: #6A666A;

    /* action colors */
    --danger-color: #dc0808;
    --danger-color-50: #e22a2a;
    --success-color: #4bbc50;
    --warning-color: #ffc409;
}
