@import '../../../styles/mixins';

.filters__inner-box {
    margin: 0 auto;
    width: calc(100% - 3rem);

    @include from($tablet) {
        max-width: 600px;
    }

    .filters__sorts-wrapper {
        gap: 0.75rem;

        @include from ($tablet) {
            gap: 1.5rem;
        }

        .sort-box {
            font-size: 1rem;
            font-weight: 300;
            color: var(--color-grey);
            padding-left: .5rem;
            padding-right: .5rem;
            
            @include from ($tablet) {
                padding-left: 1rem;
                padding-right: 1rem;
            }

            &+.sort-box {
                border-right: 0.5 solid var(--color-soft-grey);
            }

            &.is-active {
                color: var(--secondary-color);
            }

            @include from ($desktop) {
                &:hover {
                    color: var(--secondary-color);
                }
            }

            img {
                width: 1rem;
                aspect-ratio: 1/1;
            }
        } 
    }

    .filter-box {
        font-size: 1rem;
        font-weight: 300;
        color: var(--color-grey);

        span {
            display: none;

            @include from($tablet) {
                display: block;
            }
        }

        img {
            width: 1.5rem;
            aspect-ratio: 1/1;
        }
    }
}